body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }

  body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .hero-header {
    background-image: url('images/flowers.jpg'); 
    background-size: cover;
    background-position: center;
    height: 80vh; 
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
